<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
          <svg class="c-icon c-icon-lg">
            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
          </svg>
        </button>
<!--    <a class="c-header-brand d-lg-none" href="#">-->
<!--        <svg width="118" height="46" alt="CoreUI Logo">-->
<!--            <use xlink:href="/static/assets/brand/coreui.svg#full"></use>-->
<!--&lt;!&ndash;          </svg></a>&ndash;&gt;-->
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
          <svg class="c-icon c-icon-lg">
            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
          </svg>
        </button>
    <style>
        h1 {text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top:auto;
        responsive: true;}
    </style>
    <hr><h1>RCED DATABASE</h1>
    <ul class="c-header-nav ml-auto mr-4 ">
        <button class="btn btn-lg float-right ">
        <a class="btn " href={% url 'logout' %}>
            <svg class=" c-icon mr-2 ">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout "></use>
      </svg><b>Logout</b></a>
        </button>
    </ul>

    <!-- <ul class="c-header-nav ml-auto mr-4 ">
        <li class="c-header-nav-item d-md-down-none mx-2 ">
            <a class="dropdown-item " href={% url 'logout' %}>
                <svg class="c-icon mr-2 ">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout "></use>
      </svg><b>Logout</b></a>
        </li>
    </ul> -->
    <!-- <div class="c-subheader px-3 ">
        Breadcrumb
        <ol class="breadcrumb border-0 m-0 ">
            <li class="breadcrumb-item "><a href="# ">Home</a></li>
            <li class="breadcrumb-item active "><a href="/deptSkill ">Skill</a></li>
            <li class="breadcrumb-item active "><a href="/deptEnt ">Enterpreneurship</a></li>
            Breadcrumb Menu
        </ol>

    </div> -->
</header>