{% extends "layouts/base.html" %} {% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> {% endblock stylesheets %} {% block content %}
<header class="c-header c-header-light c-header c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
        </ul>
    </div>
</header>
<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-primary">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                            <div>
                                <div class="text-value-lg">Entrepreneurship</div>
                                <div>Development
                                    <p>Programs</p>
                                </div>
                            </div>
                            <div class="button">
                                <a href="ui-view_department_ent_chart.html"><button class="btn btn-light" type="button" >View</button></a>
                            </div>
                        </div>
                        <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas class="chart" id="card-chart1" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-info">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                            <div>
                                <div class="text-value-lg">Skill</div>
                                <div>Development
                                    <p>Programs</p>
                                </div>
                            </div>
                            <div class="button">
                                <a href="ui-view_department_skill_chart.html"><button class="btn btn-light " type="button" >View</button></a>
                            </div>
                        </div>
                        <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas class="chart" id="card-chart2" height="70"></canvas>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-->
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-warning">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                            <div>
                                <div class="text-value-lg">Awareness</div>
                                <div>Development
                                    <p>Programs</p>
                                </div>
                            </div>
                            <div class="button">
                                <a href=""><button class="btn btn-light" type="button" >View</button></a>
                            </div>
                        </div>
                        <div class="c-chart-wrapper mt-3" style="height:70px;">
                            <canvas class="chart" id="card-chart3" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-lg-6">
                    <div class="card text-white bg-danger">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                            <div>
                                <div class="text-value-lg">Capacity</div>
                                <div>Building
                                    <p>Programs</p>
                                </div>
                            </div>
                            <div class="button">
                                <a href="#"><button class="btn btn-light" type="button" >View</Building></button></a>
                            </div>
                        </div>
                        <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                            <canvas class="chart" id="card-chart4" height="70"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
        <div class="row">
            <div class="col-6 col-lg-3">
                <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="bg-primary p-3 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                    </svg>
                    </div>
                    <div>
                    <div class="text-value text-primary">{{ count_entre }}</div>
                    <div class="text-muted text-uppercase font-weight-bold small">Total Participants in Entrepreneurship</div>
                    </div>
                </div>
                <div class="card-footer px-3 py-2"><a class="btn-block text-muted d-flex justify-content-between align-items-center" href="ui-view_department_ent_chart.html"><span class="small font-weight-bold">View More</span>
                    <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-6 col-lg-3">
                <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="bg-info p-3 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-laptop"></use>
                    </svg>
                    </div>
                    <div>
                    <div class="text-value text-info">{{ count_skill }}</div>
                    <div class="text-muted text-uppercase font-weight-bold small">Total Participants in Skill</div>
                    </div>
                </div>
                <div class="card-footer px-3 py-2"><a class="btn-block text-muted d-flex justify-content-between align-items-center" href="ui-view_department_skill_chart.html"><span class="small font-weight-bold">View More</span>
                    <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-6 col-lg-3">
                <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="bg-warning p-3 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-moon"></use>
                    </svg>
                    </div>
                    <div>
                    <div class="text-value text-warning">0</div>
                    <div class="text-muted text-uppercase font-weight-bold small">Total Participants in Awareness</div>
                    </div>
                </div>
                <div class="card-footer px-3 py-2"><a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#"><span class="small font-weight-bold">View More</span>
                    <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
            <!-- /.col-->
            <div class="col-6 col-lg-3">
                <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <div class="bg-danger p-3 mfe-3">
                    <svg class="c-icon c-icon-xl">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                    </svg>
                    </div>
                    <div>
                    <div class="text-value text-danger">0</div>
                    <div class="text-muted text-uppercase font-weight-bold small">Total Participants in Capacity</div>
                    </div>
                </div>
                <div class="card-footer px-3 py-2"><a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#"><span class="small font-weight-bold">View More</span>
                    <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chevron-right"></use>
                    </svg></a></div>
                </div>
            </div>
          <!-- /.col-->
        </div>
          <!-- /.row-->
        </div>
    </div>
</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Plugins and scripts required by this view-->
<script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}