{% extends "layouts/base_ent.html" %} {% block title %} UI Typography {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> {% endblock stylesheets %} {% block content %} {% load crispy_forms_tags %}
<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <div class="c-subheader px-3">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" class="breadcrumbs-link">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/ui-view_department_ent_chart.html" class="breadcrumbs-link ">Enterpreneurship</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/insertparticipant" class="breadcrumbs-link active">Add Particicpants</a>
            </li>
        </ul>
    </div>
</header>
<main class="c-main">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><strong><h1>Add Participants</h1></strong></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>{{ form.as_table }}</table>
                    <!--                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="">Serial number</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="participant_id_ent" type="number" name="participant_id_ent" placeholder="Enter Serial number"><span class="help-block"></span>&ndash;&gt;-->
                    <!--                            {{form.participant_id_ent}}-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--&lt;!&ndash;                    <div class="form-group row">&ndash;&gt;-->
                    <!--&lt;!&ndash;                        <label class="col-md-2 col-form-label" for="text-input">Program Name</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;                        <div class="col-md-3">&ndash;&gt;-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Program ID"><span class="help-block"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="">Participant name</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            {{ form.name_of_trainee }}-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="name_of_trainee" type="text" name="name_of_trainee" placeholder="Enter participant name"><span class="help-block"></span>&ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="">Father/Husband's Name</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            {{ form.father_or_husband_name }}-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="father_or_husband_name" type="number" name="father_or_husband_name" placeholder="Enter Father/Husband Name"><span class="help-block"></span>&ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="date_of_birth">Date of Birth</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            {{ form.date_of_birth }}-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="date_of_birth" type="Date" name="date_of_birth" placeholder="Enter Date of Birth"><span class="help-block"></span>&ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Id proof</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--&lt;!&ndash;                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Id proof"><span class="help-block"></span>&ndash;&gt;-->
                    <!--                            {{ form.}}-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="ccyear">Category</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <select class="form-control" id="cc\year">-->
                    <!--                          <option>General</option>-->
                    <!--                          <option>SC/ST</option>-->
                    <!--                          <option>OBC</option>-->
                    <!--                          <option>Others</option>-->
                    <!--                        </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="email-input">Email</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="email-input" type="email" name="email-input" placeholder="Enter participant name"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Address</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter State where program held"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Contact Number</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="tel" name="text-input" placeholder="Enter contact number"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="ccyear">Gender</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <select class="form-control" id="ccyear">-->
                    <!--                          <option>Male</option>-->
                    <!--                          <option>Female</option>-->
                    <!--                          <option>Others</option>-->
                    <!--                        </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Job</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter job"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Qualification</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter Qualification"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Date on which unit started</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="date" name="text-input" placeholder="Enter Date "><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Number of Participants employed</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Total Participants"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Place of unit</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Enter unit place"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Amount deposited</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter amount deposited"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="ccyear">Financed By</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <select class="form-control" id="ccyear">-->
                    <!--                          <option>Bank</option>-->
                    <!--                          <option>Self</option>-->
                    <!--                        </select>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Date of Loan released</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="date" name="text-input" placeholder="Enter Date of loan released"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">CE</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter CE amount"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">WC</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Wc amount"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="form-group row">-->
                    <!--                        <label class="col-md-2 col-form-label" for="text-input">Total Cost</label>-->
                    <!--                        <div class="col-md-3">-->
                    <!--                            <input class="form-control" id="text-input" type="number" name="text-input" placeholder="Enter Totat cost"><span class="help-block"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="card-footer">
                        <button class="btn btn-success" type="submit">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-data-transfer-down"></use>
                                        </svg>Submit
                                    </button>
                        <button class="btn btn-danger" type="reset">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lightbulb"></use>
                                        </svg>Reset
                                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}